# Aspose LLM
PROFESSIONALIZE_BASE_URL=https://llm..com/v1
PROFESSIONALIZE_API_KEY_2=sk-
PROFESSIONALIZE_LLM_MODEL=gpt-oss


GOOGLE_KEY=sheet-reader-.json
CONSOLIDATED_SHEET_NAME_FOR_BLOGPOST_METADATA=Consolidated
ASPOSE_COM_AUTHOR=Muzammil Khan
ASPOSE_CLOUD_AUTHOR=Muhammad Mustafa
GROUPDOCS_CLOUD_AUTHOR=Muhammad Mustafa

SPREADSHEET_ID_FOR_BLOGPOST_METADATA=
SPREADSHEET_ID_FOR_KEYWORDS=-

# SerpAPI
SERPAPI_KEY=
GIST_NAME=mustafabutt-dev
REPO_PAT=
NUMBER_OF_BLOG_WORDS=800
ENVIRONMENT=production
GOOGLE_SCRIPT_URL_FOR_TEAM=https://script.google.com/macros/s/AKfycbwYyPBs3ox6xhYfznVpu4Gh8T4l7cXrAIj1m_y1g-vWn6tyP_LAkv3eo6W2EZYAeHgLag/exec
TOKEN_FOR_TEAM=-
GOOGLE_SCRIPT_URL_FOR_PROD=https://script.google.com/macros/s/AKfycbyCHwElrM6RcYLi0JNQAkJmzGrBjAhf28mKXVyub_6SdaZ2ITvzCwfM5xCLE7rmuxio/exec
TOKEN_FOR_PROD=
# Paths
KRA_DATA_DIR=../output
KRA_OUTPUT_DIR=../output/kra/output
TOP_CLUSTERS= 10
MAX_ROWS = 50000
DEBUG=False


