# Aspose LLM
PROFESSIONALIZE_BASE_URL=https://llm.professionalize.com/v1
PROFESSIONALIZE_API_KEY_2=sk-
PROFESSIONALIZE_LLM_MODEL=gpt-oss


GOOGLE_KEY=sheet-reader-494108-.json
CONSOLIDATED_SHEET_NAME_FOR_BLOGPOST_METADATA=Consolidated
ASPOSE_COM_AUTHOR=Muzammil Khan
ASPOSE_CLOUD_AUTHOR=Muhammad Mustafa
GROUPDOCS_CLOUD_AUTHOR=Muhammad Mustafa

SPREADSHEET_ID_FOR_BLOGPOST_METADATA=1RQVQpnaS9AzIEMHvpJnD15rlIbUWqmaYXufiC2j5xdI
SPREADSHEET_ID_FOR_KEYWORDS=1SzzeLqyd-IwA_fn_EQgxCXWXieoFiauTMmqej7_W__4

# SerpAPI
SERPAPI_KEY=
GIST_NAME=mustafabutt-dev
REPO_PAT=
NUMBER_OF_BLOG_WORDS=800
ENVIRONMENT=production
GOOGLE_SCRIPT_URL_FOR_TEAM=https://script.google.com/macros/s/AKfycbwYyPBs3ox6xhYfznVpu4Gh8T4l7cXrAIj1m_y1g-vWn6tyP_LAkv3eo6W2EZYAeHgLag/exec
TOKEN_FOR_TEAM=-2026
METRICS_API_KEY=
METRICS_API_URL=https://metrics-api.aspose./agents
# Paths
KRA_DATA_DIR=../output
KRA_OUTPUT_DIR=../output/kra/output
TOP_CLUSTERS= 10
MAX_ROWS = 50000
DEBUG=False


